<table>
    <tr>
        <td><a href="{{site.baseurl}}/cssefinaltri2/controlStructures">Structures</a></td>
        <td><a href="{{site.baseurl}}/cssefinaltri2/datatypes">DataTypes</a></td>
        <td><a href="{{site.baseurl}}/cssefinaltri2/operators">Operators</a></td>

        <td><a href="{{site.baseurl}}/cssefinaltri2/classes">Classes</a></td>
        <td><a href="{{site.baseurl}}/cssefinaltri2/inputoutput">Input Output</a></td>
        <td><a href="{{site.baseurl}}/cssefinaltri2/lifecycle">Life Cycle</a></td>
        <td><a href="{{site.baseurl}}/cssefinaltri2/nightAtTheMuseum">Anatomy</a></td>
    </tr>
</table>